@keyframes rotateHourglass {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-hourglass {
  display: inline-block;
  animation: rotateHourglass 2s steps(8) infinite;
}